body {
  background: #de2f32;
  margin: auto
}
.window {
  width: 300px;
  height: 300px;
  background: #a0d5d3;
  position: absolute;
  margin: auto;
  top: 1%;
  left: 70%;
  border-radius: 50%;
  border: 10px solid #f8e7dc;
  animation: rock;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes rock {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@keyframes rock2 {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

.fir {
  position: absolute;
  margin: 0 auto;
  width: 8em;
	position: absolute;
	top: 15%;
	left: 10%;
  animation: rock;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

*, html {
	box-sizing: border-box;
}

body {
	padding: 2em;
}

#tree {
  
	position: absolute;
	top: 15%;
	left: 10%;
	max-width: 300px;
	display: block;
	margin: 0 auto;
}

$colors: (
  red: #EA385C,
  gold-lt: #E7B75C,
  blue-lt: #386FB1,
	blue-dk: #28527C,
	gold-dk: #B28947
);

@each $name, $color in $colors {
  .#{$name} {
    fill: darken($color, 20%);
		@keyframes #{$name}-flash {
			40% { fill: darken($color, 0%);	}
			80% { fill: darken($color, 20%); }
		}
		animation: .6s #{$name}-flash ease-in-out infinite;
  }
}

$timings: (
	g1: 0s,
	g2: .4s,
	g3: .8s
);

@each $timing-name, $timing in $timings {
  .#{$timing-name} {
		animation-delay: $timing;
  }
}

.message {
  z-index:1;
  position: absolute;
  left: 50%;
  top: 0%;
  color: #f8e7dc;
  font-family: 'Mountains of Christmas';
}
.message h1 {
    text-align: center;
    font-style: normal;
    font-size: 75px;
    margin-bottom: 0;
    white-space: nowrap; 
    animation: rock;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.message h2 {
    font-style: normal;
    font-size: 75px;
    margin-bottom: 0;
    white-space: nowrap; 
    animation: rock2;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    


/* snow */
  

  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  z-index: 999;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }
      
      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }


}